:javascript
	$(document).ready(function(){

		//page scroller call
		$('#wrapper').pageScroller({

	    navigation: 'li.scroller-link',
	    scrollOffset: -50 ,
	  animationSpeed: 1000  

		});

	});
#wrapper
	= partial "home/hero"
	= partial "home/how_it_works"
	= partial "home/video"
	= partial "home/job_tests"
	= partial "home/features"
	= partial "home/_included_features"
	= partial "home/pricing"
	= partial "home/testimonials"